@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AridiKoufi";
  src: url("/fonts/AridiKoufi_MRT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.arabic-text {
  /* font-family: "AridiKoufi", serif; */
  line-height: 2.5;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .arabic-text {
    font-size: 1.5rem;
    line-height: 2;
  }
}

.amiri {
  font-family: "Amiri", serif;
}

.aridi {
  font-family: "AridiKoufi", serif;
}
